@import "tailwindcss";

@keyframes drive {
  0% {
    transform: translateX(-10px) translateY(-30%) rotate(0deg);
  }
  100% {
    transform: translateX(300px) translateY(-30%) rotate(0deg);
  }
}

@keyframes drive-static {
  0%, 100% {
    transform: translateY(-30%) rotate(0deg);
  }
}

@keyframes road {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 20px 0;
  }
}

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}
